*.DS_Store
*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/
**.ipynb_checkpoints
*.vscode
build/
#Galois
code/Galois/CMakeCache.txt

code/Galois/*.orig
code/Galois/*.patch
code/Galois/.*.swo
code/Galois/*.pyc

# no temp files
code/Galois/*~
code/Galois/*.swp

# no cscope/ctags files
code/Galois/cscope.out
code/Galois/tags
code/Galois/.vscode
code/Galois/.settings

code/Galois/GPATH
code/Galois/GRTAGS
code/Galois/GTAGS
code/Galois/build*
code/Galois/.project
code/Galois/.dir-locals.el
code/Galois/.tags*

code/Galois/.ycm_extra_conf.py

code/Galois/.*
#lef
code/RePlAce/module/lef/5.8-p027/bin/
code/RePlAce/module/lef/5.8-p027/bin/lefdiff
code/RePlAce/module/lef/5.8-p027/bin/lefrw
code/RePlAce/module/lef/5.8-p027/bin/lefwrite
code/RePlAce/module/lef/5.8-p027/lef/*.output
code/RePlAce/module/lef/5.8-p027/lef/*.tab.h
code/RePlAce/module/lef/5.8-p027/lef/*.tab.cpp
code/RePlAce/module/lef/5.8-p027/lefdiff/lefdiff
code/RePlAce/module/lef/5.8-p027/lefrw/lefrw
code/RePlAce/module/lef/5.8-p027/lefwrite/lefwrite
code/RePlAce/module/lef/5.8-p027/lefzlib/*.a
code/RePlAce/module/lef/5.8-p027/include/*.h
code/RePlAce/module/lef/5.8-p027/include/*.hpp
code/RePlAce/module/lef/5.8-p027/lib/*.a
code/RePlAce/module/lef/5.8-p027/*.a
code/RePlAce/module/lef/5.8-p027/**/*.a
#def
code/RePlAce/module/def/5.8-p027/bin/
code/RePlAce/module/def/5.8-p027/bin/defdiff
code/RePlAce/module/def/5.8-p027/bin/defrw
code/RePlAce/module/def/5.8-p027/bin/defwrite
code/RePlAce/module/def/5.8-p027/bin/lefdefdiff
code/RePlAce/module/def/5.8-p027/def/*.output
code/RePlAce/module/def/5.8-p027/def/*.tab.h
code/RePlAce/module/def/5.8-p027/def/*.tab.cpp
code/RePlAce/module/def/5.8-p027/defdiff/defdiff
code/RePlAce/module/def/5.8-p027/defrw/defrw
code/RePlAce/module/def/5.8-p027/defwrite/defwrite
code/RePlAce/module/def/5.8-p027/defzlib/*.a
code/RePlAce/module/def/5.8-p027/include/*.h
code/RePlAce/module/def/5.8-p027/include/*.hpp
code/RePlAce/module/def/5.8-p027/lib/*.a
code/RePlAce/module/def/5.8-p027/*.a
code/RePlAce/module/def/5.8-p027/**/*.a
#
code/RePlAce/module/sparsehash/Makefile
code/RePlAce/module/sparsehash/config.status
code/RePlAce/module/sparsehash/hashtable_test
code/RePlAce/module/sparsehash/install-sp/
code/RePlAce/module/sparsehash/libc_allocator_with_realloc_test
code/RePlAce/module/sparsehash/libsparsehash.pc
code/RePlAce/module/sparsehash/simple_compat_test
code/RePlAce/module/sparsehash/simple_test
code/RePlAce/module/sparsehash/sparsetable_unittest
code/RePlAce/module/sparsehash/src/config.h
code/RePlAce/module/sparsehash/src/sparsehash/internal/sparseconfig.h
code/RePlAce/module/sparsehash/src/stamp-h1
code/RePlAce/module/sparsehash/template_util_unittest
code/RePlAce/module/sparsehash/time_hash_map
code/RePlAce/module/sparsehash/type_traits_unittest

*.clang-format